.contactInfo {
    padding-top: 10vh;

    
    
    
}
      #formbtn {
          border: 1px solid #104cba;
          color: #104cba
      }

      #formbtn:hover {
          border: 1px solid white;
          background-color: #104cba;
          color: white
      }